@model IEnumerable<QuanLyThuVien.Models.PhieuMuon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý mượn trả</h2>

<div class="card shadow mb-4 ">

    <div class=" form-row card-header py-3 m-0">
        <h6 class="m-0 font-weight-bold text-primary form-group col-sm-6 h4">Danh sách phiếu mượn</h6>
        <div class="form-group col-sm-6 text-right justify-content-center">
            <i class="fa fa-plus text-primary"></i>
            @Html.ActionLink("Thêm phiếu mượn", "Create", "PhieuMuon", null, new { @class = "m-0 font-weight-bold text-primary  text-decoration-none h5" })
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã phiếu mượn</th>
                        <th>Mã nhân viên</th>
                        <th>Mã độc giả</th>
                        <th>Trạng thái</th>
                        <th>Mượn đọc</th>
                        <th>Ngày mượn</th>
                        <th>Ngày trả</th>
                        <th>Chức năng</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã phiếu mượn</th>
                        <th>Mã nhân viên</th>
                        <th>Mã độc giả</th>
                        <th>Trạng thái</th>
                        <th>Mượn đọc</th>
                        <th>Ngày mượn</th>
                        <th>Ngày trả</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaPM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaNV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaDG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai1.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LuaChon1.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayMuon)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTra)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.MaPM }) |
                                @Html.ActionLink("Xem chi tiết", "Index", "ChiTietPhieuMuon", new { id = item.MaPM }, null) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.MaPM }) |
                                @if (item.TrangThai != 1)
                                {
                                    @Html.ActionLink("Cập nhật trả", "Update", new { id = item.MaPM })
                                }
                            </td>
                        </tr>
                    }





                </tbody>
            </table>
        </div>
    </div>
</div>




@section Scripts {
    <!-- Page level plugins -->
    @Scripts.Render("~/vendor/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/vendor/datatables/dataTables.bootstrap4.min.js")

    <!-- Page level custom scripts -->
    @Scripts.Render("~/js/demo/datatables-demo.js")
}