@model QuanLyThuVien.Models.Sach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý sách</h2>
<div class="card shadow mb-4 ">
    <div class="card-header bg-danger">
        <h3 class="text-white m-1">Xoá sách</h3>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal h5 ml-3">
            <dt>
                @Html.DisplayNameFor(model => model.TenSach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenTG)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenTG)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoLuong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuong)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoLuongTT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuongTT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TheLoai.TenTL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TheLoai.TenTL)
            </dd>

        </dl>
        <hr />
        <h3 class="text-danger text-center">Thao tác này sẽ không thể hoàn tác!</h3>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-group d-flex align-items-center">
                <div class="col-md-offset-2 col-md-6 text-right">
                    <input type="submit" value="Xóa" class="btn btn-danger pl-3 pr-3" />
                </div>

                <div class="col-md-offset-2 col-md-6 ">
                    @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-default h4 pl-3 pr-3" })
                </div>
            </div>
        }
    </div>
</div>