@model IEnumerable<QuanLyThuVien.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTK1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.Chucvu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTK1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.Chucvu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaiKhoan1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaiKhoan1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaiKhoan1 })
        </td>
    </tr>
}

</table>
